* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
   
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    min-height: 100vh;
}

#container {
    width: 100%;
    max-width: 400px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button[type="submit"] {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #218838;
}

.delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}


ul {
    list-style: none;
}


  
li:hover {
    background-color: #f9f9f9;
    cursor: pointer;
  }
li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

